page-denuncia {
    text-align: center;
  .logo2 {
    width: 170px;
    height: 38px;
  }
    
    
    
    
    background-image: url('../../assets/Varios/fondo02.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover;
    ion-content {
      background-color: transparent !important;
    }
}
